*{
    margin: 0;
    padding: 0;
   
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    background-image: conic-gradient(rgb(0, 1, 57),  rgb(24, 35, 238), rgb(5, 5, 98), rgb(19, 2, 149), rgb(12, 2, 185))
    /* background-color: rgb(34, 1, 17); */
}

#calculator{
   background-color: transparent;
   border: 2px solid rgb(46, 184, 215);
   padding: 20px;
   border-radius: 15px;
   
}


input {
    margin: 8px;
    margin-top: 15px;
    height: 55px;
    width: 55px;
    border-radius: 20px;
    border: none;
    background-color: rgb(16, 3, 70);
    box-shadow: -2px 3px 2px #09e6ff;
    color: aliceblue;
  font-size: medium;
   
}

#dpl{
    width: 280px;
    background-color: rgb(16, 3, 70);
}

#equalbtn{
    background-color: coral;
    box-shadow: -2px 3px 2px #c6fb69;
}
.display{
    display: flex;
    justify-content: center;
    
}

.display input {
    height: 70px;
    margin-bottom: 30px;
    text-align:end;
    font-size:xx-large;
}